@charset "UTF-8";

:root{
    --bf: #69729c94;
}
@media screen and (min-width: 768px) and  (max-width: 1024px) {
    section#login{
        width: 80vw;
        padding: 0px;
        overflow: hidden;
    }
    section#login > div#other{
        float: right;
        width: 30%;
        height: 100%;
        background-color: black;
    }
    section#login > div#form{
        padding: 10px;
        float: left;
        width: 65%;
    }

    div#form{
        position: absolute;
        top: 50%;
        left: 33.5%;
        transform: translate(-50%,-50%);
    }
    
    h1{
        font-size: 2em;
    }
    p{
        font-size: 22px;
        font-weight: bold;
    }
}
@media screen and (min-width: 1025px) {
    section#login{
        width: 950px;
    }
    section#login > div#other{
        float: right;
        width: 50%;
        height: 100%;
        background-color: black;
        padding: 0px;
    }
    section#login > div#form{
        padding: 10px;
        float: left;
        width: 45%;
    }
    div#form{
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%,-50%);
    }
    h1,p{
        font-size: 2.2em;
    }
}