@charset "UTF-8";

:root{
    --box: #000010;
    --back0: #80808000;
    --letter-no: #0c0c0c;
    --letter-yes: #40b2d8;
}

@media screen and (min-width: 768px) and  (max-width: 1024px){
    
    h1,p{
        color: var(--letter-yes);
    }
    h1{
        font-size: 2em;
    }
    p{
        font-size: 22px;
        font-weight: bold;
    }
    
    select#ilang,option{
        font-size: 20px;
    }
    section#login{
        width: 80vw;
        padding: 0px;
    }
    section#login > div#head{
        float: right;
        width: 30%;
        height: 100%;
        background-color: var(--box);
        border-radius: 0px 30px 30px 0px;
    }
    section#login > div#form{
        padding: 10px;
        float: left;
        width: 65%;
    }
    
    div#form{
        position: absolute;
        top: 50%;
        left: 33.5%;
        transform: translate(-50%,-50%);
    }
    div#form{
        position: absolute;
        top: 50%;
        left: 33.5%;
        transform: translate(-50%,-50%);
    }
    div#form{
        position: absolute;
        top: 50%;
        left: 33.5%;
        transform: translate(-50%,-50%);
    }
    
    input#enviar{
        font-size: 20px;
    }
    #forget{
        font-size: 17px;
    }
}
@media screen and (min-width: 1024px) {
    h1,p{
        font-size: 2em;
        color: var(--letter-yes);
    }
    main{
        background-image: url(../image/background-cat.jpg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    select#ilang{
        font-size: 15px;
        font-weight: bold;
    }
    select#ilang:hover{
        border: none;
    }
    
    section#login{
        width: 950px;
    }
    div#head{
        float: right;
        position: absolute;
        top: 0%;
        left: 65%;
        width: 35%;
        height: 100%;
        background-color: var(--box);
        border-radius: 0px 30px 30px 0px;
    }

    div#form{
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%,-50%);
        width: 80%;
    }
    section#login > div#form{
        padding: 10px;
    }
    input.box:hover{
        transform: translate(1.7%,1.7%);
        transition-duration: .2s;
    }
    input#enviar{
        font-size: 25px;
    }
    
    input#enviar{
        font-size: 18.5px;
    }
    a#forget{
        font-size: 15px;
    }      
    input#enviar:hover,a#forget:hover{
        transform: translate(3%,3%);
        transition-duration: .3s;
    }
}