@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --box: #000010;
    --back0: #80808062;
    --letter-no: #0c0c0c;
    --letter-yes: #40b2d8;
}

html,body{
    background-image: url(../image/background-cat.jpg);
    background-size: cover;
    background-position: center center;
    width: 100vw;
}
form{
    margin-bottom: 20px;
}
select#ilang{
    display: block;
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--letter-no);
    background-color: var(--back0);
    padding: 10px;
    box-shadow: 1px 1px 20px var(--box);
    border-radius: 15px;
    font-weight: bolder;
    text-align: center;
    font-size: 17px;
    transition: .5s;
    color: var(--letter-no);
}
select#ilang:hover{
    scale: 95%;
}
option{
    margin: auto;
    font-size: 13px;
    font-weight: bold;
    background-color: var(--letter-yes);
}

h1,p{
    text-shadow: 2px 2px 1px #00000049;
    color: var(--letter-no);
    margin: 10px; 
    text-transform: capitalize;
    text-align: center;
}
p{
    font-weight: bold;
    font-size: 19px;
}

span{
    display: block;
    float: left;
    color: var(--letter-yes);
}
#emael,#pass{
    margin: 8px 0px 0px 20px;
}
main{
    width: 100vw;
    height: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75vw;
    height: 350px;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--back0);
    box-shadow: 1px 1px 20px var(--box);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

input.box{
    float: right;
    color: white;
    background-color: var(--back1);
    text-align: justify;
    font-weight: lighter;
    font-size: 13px;
    font-family: monospace;
    width: 190px;
    outline: 2px solid var(--letter-yes);
    padding: 20px 1.5px 20px 1.5px;
}
div#ipass,div#iemael{
    background-color: var(--box);
    padding: 10px 7px 10px 0px; 
}

#iemael,#ipass{
    height: 0px;
    border-radius: 10px;
    border: none;
}
input#enviar{
    display: block;
    margin: auto;
    padding: 10px;
    width: 255px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: var(--letter-no);
    box-shadow: 1px 1px 8px var(--box);
    background-color: var(--letter-yes);
}

#enviar,#forget{
    border-radius: 10px;
    border: none;
}
div#ipass,div#iemael,a#forget{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 255px;
    height: 40px;
}

#forget{
    padding-top: 13px;
    display: block;
    text-align: center;
    background-color: var(--box);
    color: var(--letter-yes);
    text-decoration: none;
    font-weight: bolder;
    text-transform: capitalize;
}