@charset "UTF-8";

@media screen and (min-width: 768px) {
    header > h1{
        font-weight: normal;
        color: var(--cor0);
        font-family: var(--font-destaque);
        margin-bottom: 20px;
        font-size: 3em;
        text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.404);
    }
    header > p{
        font-size: 1.2em;
        max-width: 600px;
    }
    
    menu a:hover{
        text-decoration: none;
        color: var(--cor4);
        background-color: var(--cor0);
        transform: translate(3%,3%);
        transition-duration: .2s;
    }
    i#imenu{
        display: none;
    }
    menu{
        background-color: var(--cor5);
        display: block;
    }
    menu ul{
        padding: 5px 0px;
    }
    menu li{
        display: inline-block;
        margin-left: 10px;
    }
    menu a{
        border-radius: 5px;
        border: 0px;
    }

    main > img#piqdan{
        display: none;
    }
    main > img#piqirina{
        display: none;
    }
    main > img#bigdan{
        display: block;
    }
    main > img#bigirina{
        display: block;
    }
    main > h1{
        font-size: 2em;
    }
    main h2{
        font-size: 2em;
    }
    footer > p{
        font-size: 17px;
        padding: 5px;
    }
    
}