body{
    background-color: white;
}
main#print{
    height: 98.5vh;
    padding: 0px 15px;
}
main#print{
    width: 100vw;
}
main#print > #header{
    font-size: 12px;
}
main#print > #data{
    font-size: 12px;
}
main#print > #descricao > h2{
    font-size: 14px;
}
main#print > #descricao > p{
    font-size: 12px;
    text-indent: 0;
}
main#print > #assinatura{
    margin-top: 200px;
}
main#print > #assinatura > p{
    font-size: 12px;
}
main#print > #assinatura > hr{
    width: 180px;
    margin-top: 20px;
    border: 1px solid black;
}
main#print #rodape{
    margin-top: 15px;
}