@charset "UTF-8";

@media screen and (min-width: 768px) and  (max-width: 1024px) {
    section#phone{
        position: absolute;
        top: 50%;
        left: 50%;
        transition: top .3s, left .3s;
    }

    #social-midia img{
        width: 50px;
        margin: 5px;
    }
    #social-midia img{
        width: 50px;
        margin: 5px;
    }
}

@media screen and (min-width: 1024px) {
    section#phone{
        top: 50%;
        left: 50%;
        transition: top .3s, left .3s;
    }
    #social-midia img{
        width: 50px;
        margin: 5px;
    }
}