*{
    background-color: gray;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
}
a{
    text-decoration: none;
    font-size: 1.18em;
    display: block;
    padding: 10px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
#linkedin{
    background-color: #0667f8;
}
#youtube{
    background-color: #cc0f0f;
}
#x{
    background-color: black;
}
#github{
    background-color: purple;
}
#instagram{
    background-image: linear-gradient(to right, orange,purple,blue);
}