@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100%;
    min-width: 420px;
    min-height: 420px;
    background-color: black;
    background: url('../img/fundo-madeira.jpg')  center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
}

main{
    position: relative;
}
section#phone{
    position: absolute;
    top: 148%;
    left: 51%;
    background: unset;
    transform: translate(-50%,-50%);
    height: 628px;
    width: 422px;
    background: url('../img/frame-iphone.png') no-repeat;
}
#tela{
    position: relative;
    top: 12px;
    left: 14px;
    width: 281px;
    height: 600px;
}
#social-midia{
    text-align: right;

}
#social-midia img{
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #0000008c;
    box-sizing: border-box;
}
#social-midia img:hover{
    border: 2px solid white;
    transform: translate(-3px,-3px);
    transition: transform .2s, border .5s;
}