@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url('../img/fundo-madeira.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
    background: url('../img/frame-iphone.png') no-repeat;
}
#tela{
    position: relative;
    top: 78px;
    left: 19px;
    width: 270px;
    height: 471px;
}
#social-midia{
    text-align: right;
}
#social-midia img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #0000008c;
    box-sizing: border-box
}
#social-midia img:hover{
    border: 2px solid white;
    transform: translate(-3px,-3px);
    transition: transform .2s, border .5s;
}