@charset "UTF-8" ;
/*impressão*/

body{
    background-image: url(../img/back-print.jpg);
}

main{
    border: 2px solid black;
}
main h1{
    font-family: 'Courier New', Courier, monospace;
}

img#phone{ display: none;}
img#tablet{ display: none;}
img#print{ display: block;}
img#pc{ display: none;}
img#tv{ display: none;}