@charset "UTF-8" ;
    /*tablet*/
body{
    background-image: url(../img/back-tablet.jpg);
}
img#phone{ display: none;}
img#tablet{ display: block;}
img#print{ display: none;}
img#pc{ display: none;}
img#tv{ display: none;}